body {
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}

.title {

}

.name {

}

.description {

}

.title-article {

}

#title-section {
  
}