body {
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  color:white;
}

/*---*/

header {
  padding: 10px 450px 10px 450px;
}
.title {
border-style: none;
border-radius: 10px;
justify-content: space-around;
text-align: center;
background-color: rgba(24, 7, 7, 0.700);
display: flex;
}
@media (min-width:500px){
  .title {
    padding: 10px 50px 10px 50px;
  }
  header {
    display: flex;
    padding: 20px 70px 20px 70px;
  }
}

/*--*/

.name {
text-align: center;
background-color:rgba(255, 255, 255, 0.605);
color: black;
border-radius: 10px;
}
.space-name {
  margin: 0px 150px 0px 150px;
}

/*--*/

.description {
  margin: 0px 90px 0px 90px;
  background-color: rgba(255, 255, 255, 0.605);
  color: black;
  border-radius: 10px;
  text-align: justify;
}

.title-article {

}

#title-section {
  
}

#list-section {

}